<div class='navbar navbar-event-show'></div>

<h4><%=sportsEvent.escape('title') %></h4>
<ul>
	<li>Description: <%= sportsEvent.escape('description') %></li>
	<li><%= sportsEvent.escape('sport') %></li>
	<li><%= sportsEvent.escape('max_players') %></li>
	<li><%= sportsEvent.escape('location') %></li>
	<% if (sportsEvent.get('creator')) { %>
		<li>
			Captain:
			<a href="#/user/<%= sportsEvent.get('creator').id %>">
				<%= sportsEvent.get('creator').first_name %>
			</a>
		</li>
	<% } %>
</ul>

<div class='main-footer'></div>