<div class='navbar navbar-event-show'></div>

<div id="event-show">
	<hr />
	<h1><%= sportsEvent.escape('title').toUpperCase() %></h1>
	<hr class="short"/>

	<ul>
		<div class="event-attr">
			<li id="event_description"><%= sportsEvent.escape('description') %></li>
		</div>

		<div class="event-attr">
			<hr class="short"/>
			<label for="event_sport">SPORT</label>
			<li id="event_sport"><%= sportsEvent.escape('sport') %></li>
		</div>

		<div class="event-attr">
			<hr class="short"/>
			<label for="event_max_players">MAX PARTICIPANTS</label>
			<li id="event_max_players"><%= sportsEvent.escape('max_players') %></li>
		</div>
		
		<div class="event-attr">
			<hr class="short"/>
			<label for="event_date">EVENT DATE</label>
			<li id="event_dates"><%= sportsEvent.escape('event_date') %></li>
		</div>

		<div class="event-attr">
			<hr class="short"/>
			<label for="event_location">LOCATION</label>
			<li><%= sportsEvent.escape('location') %></li>
		</div>

		<% if (sportsEvent.get('creator')) { %>
			<div class="event-attr">
				<hr class="short"/>
				<label for="event_captain">CAPTAIN</label>
				<li id="event_captain">
	 				<a href="#/user/<%= sportsEvent.get('creator').id %>">
						<%= sportsEvent.get('creator').first_name %>
					</a>
				</li>
			</div>
		<% } %>

		<% if (sportsEvent.get('users')) { %>
			<div class="event-attr">
				<hr class="short"/>
				<label for="event_users">REGISTERED PLAYERS</label>
				<% if (sportsEvent.get('users').length === 0) { %>
					<br>
					None yet!
				<hr class="short"/>
				<% } else { %>
					<ul id="event_users">
					<% sportsEvent.get('users').forEach(function(user) { %>
						<li>
							<a href="#/user/<%= user.id %>">
								<%= user.first_name %>
							</a>
						</li>
					<% }) %>
					</ul>
					<hr class="short"/>
				<% } %>
			</div>
		<% }%>

		<li>
			<button>Join Event</button>
		</li>
	</ul>
</div>

<div class='main-footer'></div>