<div class="navbar navbar-no-margin"></div>

<div id="user-edit-form">
	<h1>EDIT PROFILE</h1>

	<form id="update_user_form">
		<ul>
			
				<li>
					<label for="user_first_name">First Name</label>
					<input id="user_first_name" name="user[first_name]" value="<%= this.model.escape('first_name') %>">
				</li>
			
				<li>
				<label for="user_last_name">Last Name</label>
					<input id="user_last_name" name="user[last_name]" value="<%= this.model.escape('last_name') %>">
				</li>
			
				<li>
				<label for="user_email">E-mail</label>
					<input id="user_email" name="user[email]" value="<%= this.model.escape('email') %>">
				</li>

				<li>
					<label for="user_about_me">About Me</label>
					<textarea id="user_about_me" name="user[about_me]" placeholder="Tell us what you're all about!" rows="4" cols="50"><%= this.model.escape('about_me') %></textarea>
				</li>

				<li>
					<label for="user_location">City</label>
					<input id="user_location" name="user[location]" value="<%= this.model.escape('location') %>" placeholder="Where are you located?">
				</li>
				
				<li>
					<label for="user_profile_pic">Profile Picture</label>
					<div class="profile-pic">
						<img src="https://fbcdn-sphotos-a-a.akamaihd.net/hphotos-ak-xpa1/t31.0-8/s960x960/1658306_2331775727928_166834307_o.jpg">
					</div>
					<br>
					<button type="button" id="upload_pic">Change</button>
				</li>
			<li>
				<button id="save-btn">Save</button>
			</li>
		</ul>
		<br><br>
	</form>
</div>

<div class="main-footer"></div>