<div class='navbar navbar-user-show'></div>

<h4><%=user.escape('first_name') + " " + user.escape('last_name') %></h4>
<ul>
	<li><%= user.escape('email') %></li>
	<li><%= user.escape('status') %></li>
	<li><%= user.escape('about_me') %></li>
	<li><%= user.escape('location') %></li>
</ul>

<div class='main-footer'></div>