<!DOCTYPE html>
<html>
<head>
  <title>RingerPinger</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
  	<% if current_user %>
  		RingerPinger.currentUser = <%= current_user.to_json.html_safe %>;
  	<% else %>
  		RingerPinger.currentUser = null;
    <% end %>
  </script>

  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
  <script>
    function initialize() {
      var mapCanvas = document.getElementById('map-canvas');
      var mapOptions = {
        center: new google.maps.LatLng(37.7810556,-122.411455),
        zoom: 12,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      }
      var map = new google.maps.Map(mapCanvas, mapOptions)
    }
    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
</head>
<body>

	<%= yield %>

	<div class="loginshit">
		<% if flash[:alerts] %>
			<%= flash[:alerts] %>
		<% end %>
	 
	</div>
	<div class="backbone jumbotron"></div>
</body>



</html>

