<!DOCTYPE html>
<html>
<head>
  <title>RingerPinger</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<%= yield %>

	<div class="loginshit">
		<% if flash[:alerts] %>
			<%= flash[:alerts] %>
		<% end %>
	 
	 	<% if current_user %>
		<b><i>You are currently logged in as 
		<%= current_user.email %></i></b>
		<br>
		<%= button_to "Sign Out", "/api/session", method: :delete %>
		<% end %>
	</div>
	<div class="backbone jumbotron"></div>
</body>
</html>

