<!DOCTYPE html>
<html>
<head>
  <title>RingerPinger</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

  <script>
  	<% if current_user %>
  		RingerPinger.currentUser = 
          new RingerPinger.Models.User(<%= current_user.to_json.html_safe %>);
  	<% else %>
  		RingerPinger.currentUser = null;
    <% end %>
  </script>

  <script type="text/javascript" 
    src="https://maps.googleapis.com/maps/api/js?libraries=places">
  </script>

<link rel="shortcut icon" href="http://faviconist.com/icons/d4fdcf5ff61c2676b13bf6e577e6189c/favicon.ico" />
</head>
<body>

	<%= yield %>

	<div class="loginshit">
		<% if flash[:alerts] %>
			<%= flash[:alerts] %>
		<% end %>
	 
	</div>
	<div class="backbone jumbotron"></div>
</body>



</html>

